/* CSS DOCUMENT */
/*<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
<font-family> 'Play', sans-serif; */

body {
    margin: 0;
    font-family: 'Play';
    color: white;
    background-color: #283618;

}

h1 {
    text-align: center;
    border-color:#bc6c25;
    border-width: 25px;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 250px;
    padding: 50px 15vw;

}

.one {
    background: #fefae0;
    color: #283618;
}

.two {
    background: #606c38;
}

.three {
    background: #283618;
}

.four {
    background: #dda15e;
}

.five {
    background: #bc6c25;
}