/* CSS DOCUMENT */


--------- TRIAL AND ERROR ----------

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Play';   
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 30px;
    align-items: center;
    background: black;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

/*
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 1px 30%;
} */

.hero {
    background-image: url(Images/Background/pexels-adrien-olichon-3137068.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 130px;
    padding-bottom: 130px;
} 

.main-body-text {
    padding: 50px;
}

li, a {
    font-weight: 400;
    font-size: 17px;
    color: black;
    text-decoration: none;
}


h1 {
    text-align: center;
    color: black;
    padding: 1px;
    font-size: 60px;
    align-items: center;
}

h3 p {
    padding: 10px;
}

h4 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 10px 30%;
    border: black;
    border-width: 4px;
}

.topics {
    list-style: none;
}

.topics li {
    display: inline-block;
    color: black;
    padding: 0 20px;
    align-items: center;
}

.text-background {
    display: flex;
    justify-content: space-between;
    align-items: center;
}










/* ------ Trial CSS design ------
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Play';   
}

body {
    background-color: white;
}

h1 {
    text-align: center;
    color: black;
    padding: 1px;
    font-size: 60px;
    align-items: center;
}

.page-image {
    background-image: url(Images/Background/pexels-adrien-olichon-3137068.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    padding-top: 150px;
    padding-bottom: 150px;
}

 ---- Navigation menu ---- 

.nav-container {
    width: 100%;
    padding: 2px;
    
    top: 0;
    background: black;
}

.upper-nav {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.upper-nav a {
    
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
}

.upper-nav a:hover {
    background-color: black;
    color: white;
}

.upper-nav li {
    display: inline-block;
    padding: 0px 20px;
    align-items: center;
}

 ---- Main body of text ---- 

.main-body-text {
    padding: 50px;
}

.topics {
    list-style: none;
}

.topics li {
    display: inline-block;
    padding: 0 50px;
    color: black;
    text-align: center;
    align-items: center;
}

.text-background {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
*/



 